body{
  width: 100%;
  margin: 0;
  background-color: black;
  display: grid;
}

.genero {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  background-color:rgb(0, 0, 0);
}

.genero img {
  width: 300px;
  height: 300px;
  border: solid white 1px;
  margin-left: 140px;
  margin-top: 20px;
  border-radius: 50%;
}

.DetalleGenero {
  width: 100%;
  display: grid;
  grid-template-columns: 400px 900px;
  grid-template-rows: 100%;
  height: 400px;
  border-top: solid rgba(247, 210, 216, 0.938) 1px;
}

.DetalleGenero h2 {
   color: white;
   font-size: 60px;
   margin: 0px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.DetalleGenero p {
   color: gray;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 15px;
}

.NombreGenero {
  margin-left: 100px;
  padding-top: 100px;
}

.titulo{
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.list {
    margin-left: 70px;
  }

.artista {
    margin-left: 70px;
  }

.list a {
    text-decoration: none;
}

  .list .flecha {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
  }

  .Generos{
      color: white;
      position: absolute;
      font-size: 20px;
      margin-top: 410px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      z-index: 10;
      left: 20px;
  }

  .Artistas {
    left: 130px;
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 650px;
    z-index: 10;
    width: 1200px;
    border-bottom:solid rgb(238, 208, 208) 0.1px;
  }

  .Lista-artistas{
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-template-rows: 100%;
    width: 100%;
    height: 450px;
    gap: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color:rgb(0, 0, 0);
    position: relative;
    z-index: 5;
}


.photo-container img{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.photo-container img:hover {
  opacity: 50%;
}

.Titulo {
text-align: center;
}

.artista p {
  color: gray;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
}

.artista h2 {
  margin-top: 20px;
  color: white;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.artista h2:hover {
  text-decoration: underline;
}


.uk-h2, h2 {
  font-weight: bold;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

