*{box-sizing: border-box;}

body{
   display: flex;
   flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    margin: 0px;
    width: 100%;
}
.container{
    justify-content: space-around;
    width: 100%;
    
}
.principal{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-top: solid rgba(247, 210, 216, 0.938) 1px;
    margin-bottom: 20px;
}

.principal .photo-container{
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   margin-left: 10px;
   flex-direction: row;
   margin-bottom: 30px;
  }
  .descripcion {
    color: white;
    width: 70%;
    margin-left: 50px;
    margin-top: 30px;
  }

  .descripcion p {
      color: grey;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 12px;
  }

  .descripcion .seguidores{
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
  }

.descripcion .lorem {
    color: white;
    font-size: 15px;
}

.descripcion .reproducir {
    color:black;
    background-color:rgba(247, 210, 216, 0.938);
    font-size: 15px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    height: 40px;
    border: solid white 0.5px;
   text-align: center;
    padding-top: 10px;
    padding: 10px;
}

.photo-container .photo{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: solid white 1px;
    margin-top: 50px;
    margin-left: 80px;
}

.a:hover { 
    background-color: rgba(128, 128, 128, 0.205);
}

.artista1{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
   
}
.svg-inline--fa.fa-w-16{
margin-left: 10px;
}


p{ 
    color: white
}
.canciones{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
 margin-left: 80px;
 margin-bottom: 80px;
    
}

.titulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid rgba(128, 128, 128, 0.897) 0.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left:none ;
    border-right: none;
    width: 100%;
    align-items: center;
}

.titulos p {
    color: grey;
    font-size: 15px;
}

.titulos .titulo {
    padding-left: 380px;
}

.titulos .artista {
    padding-left: 100px;
}

.a{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid rgba(128, 128, 128, 0.897) 0.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left:none ;
    border-right: none;
    width: 100%;
    align-items: center;
    }
    .heart{
        margin-left: 10px;
    }
    .artista{
        
        width: 52px;
    }
    .titulo{
        width: 130px;
       
    }
       .tiempo{
           margin-right:10px ;
       }













@media only screen and (max-width: 320px){


*{box-sizing: border-box;}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    margin: 0px;
    width: 100%;
}
.container{
    justify-content: space-around;
    width: 100%;
    
}
.principal{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    border-top: solid rgba(247, 210, 216, 0.938) 1px;
    margin-bottom: 20px;
}

.principal .photo-container{
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   margin-left: 10px;
   flex-direction: row;
   margin-bottom: 30px;
  }
  .descripcion {
    color: white;
    width: 70%;
    margin-left: 50px;
    margin-top: 30px;
  }

  .descripcion p {
      color: grey;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 12px;
  }

  .descripcion .seguidores{
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
  }

.descripcion .lorem {
    color: white;
    font-size: 15px;
}

.descripcion .reproducir {
    color:black;
    background-color:rgba(247, 210, 216, 0.938);
    font-size: 15px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    height: 40px;
    border: solid white 0.5px;
   text-align: center;
    padding-top: 10px;
    padding: 10px;
}

.photo-container .photo{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: solid white 1px;
    margin-top: 50px;
    margin-left: 80px;
}

.a:hover { 
    background-color: rgba(128, 128, 128, 0.205);
}

.artista1{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
   
}
.svg-inline--fa.fa-w-16{
margin-left: 10px;
}


p{ 
    color: white
}
.canciones{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
 margin-left: 80px;
 margin-bottom: 80px;
    
}

.titulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid rgba(128, 128, 128, 0.897) 0.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left:none ;
    border-right: none;
    width: 100%;
    align-items: center;
}

.titulos p {
    color: grey;
    font-size: 15px;
}

.titulos .titulo {
    padding-left: 380px;
}

.titulos .artista {
    padding-left: 100px;
}

.a{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: solid rgba(128, 128, 128, 0.897) 0.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left:none ;
    border-right: none;
    width: 100%;
    align-items: center;
    }
    .heart{
        margin-left: 10px;
    }
    .artista{
        
        width: 52px;
    }
    .titulo{
        width: 130px;
       
    }

    .tiempo{
           margin-right:10px ;
      }

    }