body{
    background-color:  rgba(247, 210, 216, 0.938);
    margin: auto;
}


.main-banner .h1{
    justify-content: center;
}


.main-banner{
    width: 100%;
    border-top: solid rgba(247, 210, 216, 0.938) 1px;
}

.titulo{
    display: flex;
    color: white;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body{
    width: 100%;
    margin: 0;
    display: grid;
    background-color: black;
 }

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Playlists{
    display: grid;
    grid-template-columns: 240px 240px 240px 10px;
    grid-template-rows: 100%;
    width: 100%;
    height: 330px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 50px;
    position: relative;
    z-index: 5;
    border-top:solid rgb(238, 208, 208) 0.1px;
    margin-top: 80px;
}


.list a {
    text-decoration: none;
}

.photo-container img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

  .list .flecha {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
  }

  .Generos{
      color: white;
      position: absolute;
      font-size: 20px;
      margin-top: 510px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      z-index: 10;
      left: 20px;
  }

  .Artistas {
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 950px;
    z-index: 10;
    left: 20px;
  }

  .Lista-artistas{
    display: grid;
    grid-template-columns: 240px 240px 240px 10px;
    grid-template-rows: 100%;
    width: 100%;
    height: 330px;
    gap: 20px;
    margin-bottom:80px;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    background-color:rgb(0, 0, 0);
    border-top:solid rgb(238, 208, 208) 0.1px;
    position: relative;
    z-index: 5;
}
.photo-container img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}