body{
    width: 100%;
    margin: 0;
    background-color: rgba(247, 210, 216, 0.938);
}

.artista {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: 400px 200px;
    grid-template-rows: 100%;
    justify-content: center;
    align-items: center;
    background-color:rgb(0, 0, 0);
    border-top: solid  rgba(247, 210, 216, 0.938) 1px;
    margin: 0px;
    margin-bottom: 0px;
}

.info .cancion {
    color: gray;
    font-size: 10px;
    margin-bottom: 5px;
}

.info a{
    list-style-type: none;
    text-decoration: none;
    
}

.DetalleArtista img {
    width: 300px;
    height: 300px;
    margin-left: 20px;
    margin-top: 20px;
}

.DetalleArtista img:hover {
    opacity: 50%;
}

.DetalleArtista .info{
    display: grid;
    justify-content: left;
}

.DetalleArtista .artist{
    display: grid;
    justify-content: left;
    font-size: 20px;
    margin-top: 10px;
    
}


.DetalleArtista .duracion{
    display: grid;
    justify-content: left;
    margin-top: 10px;
}

.DetalleArtista .nombreAlbum{
    display: grid;
    justify-content: left;
}


.DetalleArtista h1 {
    display: grid;
    justify-content: left;
    color: white;
    font-size: 30px;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.DetalleArtista p {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.artista .agregar {
    color:black;
    font-size: 15px;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 200px;
    height: 20px;
    border: solid white 0.5px;
   text-align: center;
    padding-top: 10px;
    padding: 10px;
    background-color:rgba(247, 210, 216, 0.938);
}

.uk-h1, h1 {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

