body{
    width: 100%;
    margin: 0;
    background-color: black;
    display: grid;
}

.artista {
    display: grid;
    grid-template-columns: 400px 900px;
    grid-template-rows: 100%;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(0, 0, 0);
    margin: 0px;
    margin-bottom: 50px;
    border-top: solid rgba(247, 210, 216, 0.938) 1px;
}

.DetalleArtista img {
    width: 300px;
    height: 300px;
    border: solid white 1px;
    margin-left: 20px;
    margin-top: 20px;
}

.artistaClick a {
    list-style: none;
    text-decoration: none;
}

.artistaClick h2{
    color: white;
}

.artista .fecha {
    font-size: 20px;
}

.nombreArtista {
     text-decoration: none;
     color: white;
     font-size: 60px;
     margin: 0px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.DetalleArtista p {
     color: gray;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 15px;
     margin-bottom: 0;
}

.artista .Seguir {
    color:black;
     font-size: 15px;
     margin-top: 30px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 200px;
     height: 20px;
     border: solid white 0.5px;
     text-align: center;
     padding-top: 10px;
     padding: 10px;
     background-color:rgba(247, 210, 216, 0.938);
}


.Populares h2 {
    color: white;
     margin-left: 80px;
     padding: 0;
     text-align: left;
     padding-top: 20px;
     margin-bottom: 30px;
     font-size: 30px;
}

.Populares{
    justify-content: center;
}


.a p {
    color: white;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
    
}

.canciones{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
 margin-left: 80px;
 margin-bottom: 80px;
    
}


/*.a{ 
    display: flex;
    justify-content: space-around;
    border: solid rgba(255, 255, 255, 0.479) 0.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left:none ;
    border-right: none;
    align-items: center;
    width: 80%;

}*/

.a{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid rgba(128, 128, 128, 0.897) 0.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left:none ;
    border-right: none;
    width: 100%;
    align-items: center;
}

.titulos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid rgba(128, 128, 128, 0.897) 0.3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left:none ;
    border-right: none;
    width: 100%;
    align-items: center;
}

.duracion {
    margin-right:30px ;

}

.heart{
    margin-left: 10px;
    margin-top: 20px;
}

.titulo{
    width: 300px;
}

.cancion{
    width: 300px;
    margin-top: 20px;
    margin-left: 350px;
}


.tiempo{
    margin-right:10px ;
}


.borde {
     border-top: solid  rgba(128, 128, 128, 0.562) 0.5px;
     padding-top: 10px;
}

.a:hover {
    background-color: rgba(128, 128, 128, 0.205);
}


.fa-heart {
    padding-right: 60px;
}

.uk-h2, h2 {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.uk-h1, h1 {
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


