*{box-sizing: border-box;}

body{
   display: flex;
   flex-wrap: wrap;
    justify-content: space-around;
    background-color: black;
    margin: 0px;
    width: 100%;
}
.container{
    justify-content: space-around;
    width: 100%;
    
}
.principal{
    display: flex;
    width: 100%;
flex-wrap: wrap;


}
.principal .photo-container{
    width: 100%;
    display: flex;
   flex-wrap: wrap;
   margin-left: 10px;
   flex-direction: row;
   margin-bottom: 30px;
  }
  .descripcion {
    color: white;
    width: 70%;
    margin-left: 50px;
    margin-top: 30px;
  }

.photo-container .photo{
    border-radius: 100%;
    width: 200px;
    height: 200px;
    padding-top: 10px;
    padding-right: 10px;
}

    

.artista1{
    color:white;
   
}


p{ 
    color: white
}
.canciones{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.a{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border:solid white;
    border-left:none ;
    border-right: none;
    width: 100%;
    align-items: center;
    }
    .heart{
        margin-left: 10px;
    }
    .artista{
        
        width: 52px;
    }
    .titulo{
        width: 130px;
       
    }
       .tiempo{
           margin-right:10px ;
       }


.main-footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 80px;
    width: 100%;
    align-items: center;
    
}

.main-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
}

.main-footer li {
    font-size: small;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-footer li a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-footer img {
    width: 110px;
    height: 30px;
    margin-left: 8%;

}
.nombres{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;

}
