
.main-header{
    display: flex;
    align-items: center;
    background-color: black;
    align-self: stretch;
    height: 250px;
    width: 100%;
    margin-right: 0px;
    position: relative;
}

.Registrate {
    position: absolute;
    color: gray;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80%;
    padding-right: 30px;
    border-right: solid gray 0.5px;
    top: 20px;
}

.Sesion {
    position: absolute;
    color: gray;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 90%;
    top: 20px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.main-nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap; 
    height: 40px;
    padding-left: 150px;
    position: absolute;
    z-index: 10;
  }

.main-nav li{  
    display: flex;
    background-color: rgb(247, 208, 215);
    text-align: center;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 200px;
}

.logo {  
    background-color: black; 
    margin-left: 50px;
    width: 180px;
    height: 160px;
}

.logo a {  
    background-color: black; 
    margin-right: 100px;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.main-footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 1px;
    height: 80px;
    width: 100%;
    align-items: center;
}

.main-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
}

.main-footer li {
    font-size: small;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-footer li a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-footer img {
    width: 110px;
    height: 30px;
    margin-left: 8%;
}

.nombres{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 350px;
}

.Redes {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Redes li {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding-bottom: 5px;
}
