body{
    background-color:  rgba(247, 210, 216, 0.938);
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.main-header{
    background-color: black;
    align-self: stretch;
    height: 400px;
    width: 100%;
    margin-right: 0px;
    position: relative;
}

.main-nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap; 
    height: 40px;
    width: 100%;
    padding-left: 15px;
}

.main-nav li{  
    display: flex;
    background-color: rgb(247, 208, 215);
    text-align: center;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 160px;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header img {
    width: 180px;
    display: flex;
    align-items: center;
    margin-left: 43%;
    padding-top: 60px;
}

.main-banner .h1{
    justify-content: center;
}
.main-footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 0;
    height: 80px;
    width: 100%;
    align-items: center;
    margin-top: 80px;
}

.main-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
}

.main-footer li {
    font-size: small;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-footer li a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-footer img {
    width: 110px;
    height: 30px;
    margin-left: 8%;
}

.nombres{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;
}

.titulo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.listaGeneros {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.486);
    position: relative;
    width: 100%;
    padding: 0px;
    z-index: 5;
    margin-bottom: 20px;
    margin-top: 0;
}

.listaGeneros li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 50px;
    padding-right: 60px;
}

.listaGeneros li a{
    text-decoration: none;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-banner{
    width: 100%;
}

.generos{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.photo{
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px;
    margin-top: 25px;
}

.photo img {
    border-radius: 50%;
}