body{
    background-color:  rgba(247, 210, 216, 0.938);
    margin: auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.titulo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 25px;
    margin-bottom: 0px;
    position: absolute;
    color: white;
    z-index: 10;
    transform: translate(-50%, -50%);
    display: block;
    top: 85%;
    left: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-banner{
    width: 100%;
}

.generos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: auto;
    background-color:black; 
}

.textoGenero {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
}

.photo{
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 60px;
    margin-top: 60px;

}

.photo img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.photo img:hover {
    opacity: 50%;
}


.banner img {
    opacity: 90%;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    margin-bottom: 1px;
}

.uk-h1, h1 {
  font-weight: bold;
  color: white;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.uk-h2, h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}