body{
    width: 100%;
    margin: 0;
    background-color:  rgba(247, 210, 216, 0.938);
    display: grid;
 }

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main-header{
    background-color: black;
    align-self: stretch;
    height: 400px;
    width: 100%;
    margin-right: 0px;
    position: relative;
}

.main-nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap; 
    height: 40px;
    width: 100%;
    padding-left: 15px;
  }

.main-nav li{  
    display: flex;
    background-color: rgb(247, 208, 215);
    text-align: center;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 200px;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header img {
    width: 180px;
    display: flex;
    align-items: center;
    margin-left: 43.5%;
    padding-top: 60px;
}

.Footer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.main-footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    height: 80px;
    width: 100%;
    align-items: center;
}

.main-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
}

.main-footer li {
    font-size: small;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-footer li a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-footer img {
    width: 110px;
    height: 30px;
    margin-left: 8%;
}

.nombres{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;
}

.Lista-artistas{
    display: grid;
    grid-template-columns: 240px 240px 240px 10px;
    grid-template-rows: 100%;
    width: 100%;
    height: 330px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 80px;
    position: relative;
    z-index: 5;
}

.artista h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-right: 20%;
}

.artista p {
    text-align: center;
    color: rgba(122, 122, 122, 0.918);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 20%;
}

.artista a {
    text-decoration: none;
}

.photo-container img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.Listas {
    width: 100%;
}

.Listas h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ListasRankings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.486);
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    padding: 0px;
    z-index: 5;
  }

.ListasRankings li{  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 50px;
    padding-right: 60px;
}

.ListasRankings li a {
    text-decoration: none;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Buscador {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-top: 5px;
    font-size: 20px;
    width: 80%;
    position: absolute;
    width: 400px;
    height: 40px;
    margin-left: 78%;
    z-index: 10;
  }


 .Buscador input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  .Buscador button {
    float: left;
    width: 20%;
    padding: 10px;
    background: rgb(0, 0, 0);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    top: 30px;
    left: 40px;
  }

  .artista .flecha {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
  }

  .TopArtistas {
      color: white;
      position: absolute;
      font-size: 20px;
      margin-top: 600px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      z-index: 10;
      left: 20px;
  }

  .TopAlbumes {
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1040px;
    z-index: 10;
    left: 20px;
  }

  .TopPodcasts {
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1480px;
    z-index: 10;
    left: 20px;
  }


  form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}