body{
    background-color:  rgba(247, 210, 216, 0.938);
    margin: auto;
 }

.container {
    display: flex;
    flex-wrap: wrap;
}

.main-header{
    background-color: black;
    align-self: stretch;
    height: 380px;
    width: 100%;
    margin-right: 0px;
}


.main-nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap; 
    height: 40px;
    padding: 60px;
    width: 100%;
    padding-left: 15px;
  }

.main-nav li{  
    display: flex;
    background-color: rgb(247, 208, 215);
    text-align: center;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 140px;
}

.main-nav li a {
    text-decoration: none;
    color: black;
}

.main-header img {
    width: 300px;
    display: flex;
    align-items: center;
    margin-left: 42%;
    padding-top: 60px;
}