body{
    width: 100%;
    margin: 0;
    background-color:  rgba(247, 210, 216, 0.938);
    display: grid;
 }

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.banner {
    width: 100%;
}

.banner img {
    opacity: 90%;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    margin-bottom: 1px;
}


.Lista-artistas{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 1px;
    position: relative;
    z-index: 5;
    padding-left: 80px;
}

.Lista-albums {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 1px;
    position: relative;
    z-index: 5;
    padding-left: 80px;
}

.Lista-tracks {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 1px;
    position: relative;
    z-index: 5;
    padding-left: 80px;
}

.artista h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-right: 40%;
}

.artista p {
    text-align: center;
    color: rgba(122, 122, 122, 0.918);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 40%;
}

.artista a {
    text-decoration: none;
}

.photo-container img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.photo-container2 img{
    width: 150px;
    height: 150px;
    border-radius: 2%;
}
.photo:hover {
    opacity: 50%;
}

.Listas {
    width: 100%;
}

.Listas h1 {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 0px;
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 10;
    left: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  .artista .flecha {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
  }

  .TopArtistas {
      color: white;
      position: absolute;
      font-size: 20px;
      margin-top: 790px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      z-index: 10;
      left: 20px;
  }

  .TopAlbumes {
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1440px;
    z-index: 10;
    left: 20px;
  }

  .TopTracks {
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2090px;
    z-index: 10;
    left: 20px;
  }
