body{
    background-color:  rgba(247, 210, 216, 0.938);
    margin: auto;
 }

.container {
    display: flex;
    flex-wrap: wrap;
}


.main-header{
    background-color: black;
    align-self: stretch;
    height: 400px;
    width: 100%;
    margin-right: 0px;
    position: relative;
}


.main-nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap; 
    height: 40px;
    width: 100%;
    padding-left: 15px;
  }

.main-nav li{  
    display: flex;
    background-color: rgb(247, 208, 215);
    text-align: center;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 200px;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header img {
    width: 180px;
    display: flex;
    align-items: center;
    margin-left: 43%;
    padding-top: 60px;
}


.main-footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 80px;
    width: 100%;
    align-items: center;
}

.main-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
}

.main-footer li {
    font-size: small;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-footer li a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-footer img {
    width: 110px;
    height: 30px;
    margin-left: 8%;
}

.nombres{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;
}

.Playlist{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: black;
    
}
.Playlist .Playlist1{
    width: 300px; 
    
}
.Playlist1 .photo-container{
    position: relative;
    width: 300px;
    justify-content: center;
}
.photo{
    
        border-radius: 50%;
        width: 300px;
        display: flex;
        justify-content: center;
        margin-top: 15px;
        height: 300px;
}
.zoom{
    position: absolute;
    top: 40%;
    left: 0;
    color: white;
    text-decoration: none;
    height: 50px;
    width: 100%; 
    text-align: center;}
    
    .svg-inline--fa.fa-w-16 {
        width: 30px;}
    .svg-inline--fa{
        width: 30px;
        height: 30px;
    }
   

    p{ 
        background-color: black;
        color: white;
        margin-right: 20px;
        width: 30%;
        text-align: center;
    }
   
   .Listas{
       width: 100%;
       height: 25%;
       position: relative;
       justify-content: center;
   }
    .Listas h1  {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.486);
        display: flex;
        justify-content: center;
        margin-top: 50px;
        font-size: 50px;
        padding-top: 10px;
        height: 150px;
        margin-bottom: 0px;
        position: relative;
        align-items: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
       
    }
    .Titulo1{
        background-color:rgb(247, 208, 215);
        font-size: medium;
    }
    .Buscador {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding-top: 5px;
        font-size: 20px;
        width: 60%;
        position: absolute;
        width: 400px;
        height: 40px;
        margin-left: 80%;
        top: 30px;
        left: 40px;

    }
    .Buscador input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 60%;
        background: #f1f1f1;
    }
    .Buscador button {
        float: left;
        width: 15%;
        padding: 10px;
        background: rgb(0, 0, 0);
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; 
        cursor: pointer;
    height: 42px;}
        
<<<<<<< HEAD
.Playlist2{ display: flex;
=======
.Playlist2{ 
    display: flex;
>>>>>>> 84859841f30e2d918be8aaece4f47d7ba6b5e2d3
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;}


        .Playlist2 .flecha {
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0px;
            
        }