body{
    background-color:  rgba(247, 210, 216, 0.938);
    margin: auto;
 }

.container {
    display: flex;
    flex-wrap: wrap;
}

.Playlist{
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 100%;
    width: 100%;
    height: 330px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color:rgb(0, 0, 0);
}

.Playlist2{
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 100%;
    width: 100%;
    height: 330px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 50px;
}

.Playlist .Playlist1{
    width: 400px; 
    
}

.Playlist1 .photo-container{
    position: relative;
    width: 280px;
    justify-content: center;
   
}
a{
    text-decoration: none;
}

.photo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 40px;
}


.zoom{
    position: absolute;
    top: 40%;
    left: 0;
    color: white;
    text-decoration: none;
    height: 50px;
    width: 100%; 
    text-align: center;
}

.zoom .plus{
        position: absolute;
    bottom: 15px;
    left: 0;
    color: white;
    text-decoration: none;
    height: 100px;
    width: 100%; 
    text-align: center;
       font-size: 100px;

    }
    
   
    
    .svg-inline--fa{
        width: 40px;
        height: 30px;
    }
   

p{ 
    color:black;
    width: 120px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80px;
    background-color:rgb(247, 208, 215);
        border-radius: 10px;
}
   
.Playlists {
    width: 100%;
}

.Playlists h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ListasPlaylists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.486);
    position: relative;
    width: 100%;
    padding: 0px;
    z-index: 5;
    margin-bottom: 20px;
}

.ListasPlaylists li{  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 50px;
    padding-right: 60px;
}

.ListasPlaylists li a {
    text-decoration: none;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paquete{
        width: 200px;
        color: white;
        font-size: 20px;
        padding-left: 20px;
        margin-left: 30px;
    }
.Titulo1{
    width: 90%;
        font-size: medium;  
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;  
    }




.Playlist2{ 
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 100%;
    width: 100%;
    height: 330px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color: rgb(0, 0, 0);}



