body{
    background-color:  rgba(247, 210, 216, 0.938);
    margin: auto;
 }

.container {
    display: flex;
    flex-wrap: wrap;
}


.main-header{
    background-color: black;
    align-self: stretch;
    height: 400px;
    width: 100%;
    margin-right: 0px;
    position: relative;
}


.main-nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap; 
    height: 40px;
    width: 100%;
    padding-left: 15px;
  }

.main-nav li{  
    display: flex;
    background-color: rgb(247, 208, 215);
    text-align: center;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 200px;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header img {
    width: 180px;
    display: flex;
    align-items: center;
    margin-left: 43%;
    padding-top: 60px;
}


.main-footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 80px;
    width: 100%;
    align-items: center;
}

.main-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
}

.main-footer li {
    font-size: small;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-footer li a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-footer img {
    width: 110px;
    height: 30px;
    margin-left: 8%;
}

.nombres{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;
}

.Playlist{
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 100%;
    width: 100%;
    height: 330px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    background-color:rgb(0, 0, 0);
}

.Playlist2{
    display: grid;
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 100%;
    width: 100%;
    height: 330px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 50px;
}

.Playlist .Playlist1{
    width: 400px; 
}

.Playlist1 .photo-container{
    position: relative;
    width: 280px;
    justify-content: center;
}

.photo{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-left: 40px;
}


.zoom{
    position: absolute;
    top: 40%;
    left: 0;
    color: white;
    text-decoration: none;
    height: 50px;
    width: 100%; 
    text-align: center;
}

.zoom .plus{
        position: absolute;
    bottom: 15px;
    left: 0;
    color: white;
    text-decoration: none;
    height: 100px;
    width: 100%; 
    text-align: center;
       font-size: 100px;

    }
    
.svg-inline--fa.fa-w-16 {
    width: 40px;
}

.svg-inline--fa{
    width: 40px;
    height: 30px;
}
   

p{ 
    color:black;
    width: 120px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80px;
    background-color:rgb(247, 208, 215);
        border-radius: 10px;
}
   
.Playlists {
    width: 100%;
}

.Playlists h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ListasPlaylists {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.486);
    position: relative;
    width: 100%;
    padding: 0px;
    z-index: 5;
    margin-bottom: 20px;
  }

.ListasPlaylists li{  
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-left: 50px;
    padding-right: 60px;
}

.ListasPlaylists li a {
    text-decoration: none;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.paquete{
        width: 200px;
        color: white;
        font-size: 20px;
        padding-left: 20px;
        margin-left: 30px;
    }
.Titulo1{
    width: 90%;
        font-size: medium;  
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        text-align: center;  
    }

.Buscador {
        display: flex;
        flex-direction: row;
        margin-top: 20px;
        padding-top: 5px;
        font-size: 20px;
        width: 60%;
        position: absolute;
        width: 400px;
        height: 40px;
        margin-left: 80%;
        top: 30px;
        left: 40px;
        margin-top: 500px;
        z-index: 10;

    }
    .Buscador input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 60%;
        background: #f1f1f1;
    }
    .Buscador button {
        float: left;
        width: 15%;
        padding: 10px;
        background: rgb(0, 0, 0);
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none; 
        cursor: pointer;
<<<<<<< HEAD
    height: 42px;}
        
<<<<<<< HEAD
.Playlist2{ display: flex;
=======
.Playlist2{ 
    display: flex;
>>>>>>> 84859841f30e2d918be8aaece4f47d7ba6b5e2d3
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;}

=======
        height: 42px;
}
>>>>>>> 5704eb20b4c82bd12fe2b0c4753134d2d3077c94

     