body{
    width: 100%;
    margin: 0;
    background-color:  rgba(247, 210, 216, 0.938);
    display: grid;
 }

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.TodasPlaylists{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    width: 100%;
    height: 380px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(0, 0, 0);
    margin-bottom: 1px;
    position: relative;
    z-index: 5;
    padding-left: 80px;
}

.artista h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-right: 40%;
}


.artista a {
    text-decoration: none;
}

.photo-container img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;
    z-index: 5;
}

.Playlists {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    top: 80%;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 10;
    left: 50%;
}

.Playlists h1 {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 50px;
    margin-bottom: 0px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

  .artista .flecha {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
  }

  .Artistas {
      color: white;
      position: absolute;
      font-size: 20px;
      margin-top: 820px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      z-index: 10;
      left: 20px;
  }

  .Destacadas {
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1230px;
    z-index: 10;
    left: 20px;
  }

  .Generos {
    color: white;
    position: absolute;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 10;
    left: 20px;
    margin-top: 1640px;
  }



.banner {
    width: 100%;
}


.banner img {
    opacity: 90%;
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 5;
    margin-bottom: 1px;
}

.uk-h2, h2 {
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.uk-h1, h1 {
  font-weight: bold;
  font-size: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}







@media only screen and (max-width: 320px){

    body{
        width: 100%;
        margin: 0;
        background-color: black;
        display: grid;
     }
    
    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .TodasPlaylists{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
        width: 100%;
        height: 650px;
        padding-top: 30px;
        margin-top: 80px;
        background-color:rgb(0, 0, 0);
        margin-bottom: 1px;
        position: relative;
        z-index: 5;
        padding-left: 50px;
        border-bottom: solid rgba(247, 210, 216, 0.938) 1px;
    }
    
    .artista h2{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-align: center;
        color: white;
        margin-right: 40%;
    }
    
    
    .artista a {
        text-decoration: none;
    }

    .artista p {
        font-size: 10px;
        padding-left: 20px;
    }
    
    .photo-container img{
        border-radius: 50%;
        width: 80px;
        height: 80px;
        position: relative;
        z-index: 5;
    }
    
    .Playlists {
        width: 100%;
        height: 100px;
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        top: 42%; 
        transform: translate(-50%, -50%);
        display: block;
        z-index: 10;
        left: 50%;
        margin-top: 20px;
        }
    
    .Playlists h1 {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        font-size: 30px;
        border-bottom: solid rgba(247, 210, 216, 0.938) 1px;
        padding-bottom: 20px;
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
      .artista .flecha {
          color: white;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0px;
      }
    
      .Artistas {
          color: white;
          position: absolute;
          font-size: 10px;
          margin-top: 470px;
          font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          z-index: 10;
          left: 20px;
      }
    
      .Destacadas {
        color: white;
        position: absolute;
        font-size: 10px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 1150px;
        z-index: 10;
        left: 20px;
      }
    
      .Generos {
        color: white;
        position: absolute;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        z-index: 10;
        left: 20px;
        margin-top: 1920px;
      }
   
    
    .banner {
        width: 100%;
    }
    
    
    .banner img {
        opacity: 90%;
        width: 100%;
        height: 550px;
        display: flex;
        justify-content: center;
        position: relative;
        z-index: 5;
        margin-bottom: 1px;
    }
    
    .uk-h2, h2 {
        color: white;
        font-weight: bold;
        font-size: 25px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    .uk-h1, h1 {
      font-weight: bold;
      font-size: 20px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

}