*{box-sizing: border-box;}
body{
    width: 100%;
    margin: 0;
    background-color:  rgba(247, 210, 216, 0.938);
    display: grid;
 }

.container {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 25% 50% 25%;
    display: flex;
    flex-wrap: wrap;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.banner img {
    opacity: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
        
}

.banner h1 {
    color: white;
    font-size: 65px;
    margin-left: 100px;
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Porque {
    display: grid;
    grid-template-columns: 500px 700px;
    grid-template-rows: 100%;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(252, 250, 250);
    margin-top: 5px;
    margin-bottom: 5px;
}

.Porque img {
    width: 250px;
    height: 480px;
    margin-left: 50px;
}

.PorqueSoundHub h2 {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.PorqueSoundHub p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
}

.Informacion {
    display: grid;
    grid-template-columns: 650px 620px;
    grid-template-rows: 100%;
    width: 100%;
    height: 550px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(0, 0, 0);
}
 
.Info {
    color: white;
    margin-right: 30px;
}

.Info h2 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Info p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 60px;
}

.FotoInicio img{
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.Ayuda {
    display: grid;
    width: 100%;
    height: 120px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 30px;
}

.Contactanos h2 {
    font-size: 30px;
    margin-top: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Contactanos p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Contactanos p a {
    text-decoration: underline;
    color: black;
}


.uk-h1, h1 {
    font-weight: bold;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .uk-h2, h2 {
      color: white;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .uk-h3, h3 {
    color:black;
    font-weight: bold;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.uk-h4, h4 {
    color:black;
    font-weight: bold;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



  













@media only screen and (max-width: 320px){

    body{
        width: 320px;
        margin: 0;
        background-color:  rgba(247, 210, 216, 0.938);
        display: grid;
     }

    .nombres{
         margin-left: 0;
         
    } 

    .banner{
        height: 195px;
        width: 320px;
    }

    .banner img {
        height: 200px;
        width: 320px;
    }

.banner h1 {
    color: white;
    font-size: 20px;
    margin-left: 40px;
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    position: absolute;
    top: 30%;
    transform: translate(-50%, -50%);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Porque {
    display: grid;
    grid-template-columns: 130px 190px;
    grid-template-rows: 320px;
    width: 320px;
    height: 320px;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    background-color:rgb(252, 250, 250);
    margin-top: 10px;
    padding-top: 20px;

}

.Porque img {
    width: 80px;
    height: 150px;
    margin-left: 20px;
}

.PorqueSoundHub h3 {
    font-size: 20px;
}

.PorqueSoundHub h2 {
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.PorqueSoundHub p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    padding-bottom: 10px;
    margin-right: 20px;
}

.Informacion {
    display: grid;
    grid-template-columns: 170px 150px;
    grid-template-rows: 320px;
    width: 320px;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    background-color:rgb(0, 0, 0);
}
 
.Info {
    color: white;
    margin-right: 20px;
    margin-left: 20px;
}

.Info h2 {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Info p {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.FotoInicio img{
    width: 130px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 0px;
}

.Ayuda {
    display: grid;
    width: 320px;
    height: 80px;
    text-align: center;
    margin-bottom: 80px;
    margin-top: 20px;
}

.Contactanos h4 {
    font-size: 20px;
    margin-top: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Contactanos p {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Contactanos p a {
    text-decoration: underline;
    color: black;
}


.uk-h1, h1 {
    font-weight: bold;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .uk-h2, h2 {
      color: white;
      font-weight: bold;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .uk-h3, h3 {
    color:black;
    font-weight: bold;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.uk-h4, h4 {
    color:black;
    font-weight: bold;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

}