*{box-sizing: border-box;}
body{
    width: 100%;
    margin: 0;
    background-color:  rgba(247, 210, 216, 0.938);
    display: grid;
 }

.container {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 25% 50% 25%;
    display: flex;
    flex-wrap: wrap;
}

.main-header{
    background-color: black;
    align-self: stretch;
    height: 400px;
    width: 100%;
    margin-right: 0px;
    position: relative;
}

.Registrate {
    position: absolute;
    color: gray;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 80%;
    padding-right: 30px;
    border-right: solid gray 0.5px;
}

.Sesion {
    position: absolute;
    color: gray;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 90%;
}

.main-nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap; 
    height: 40px;
    width: 100%;
    padding-left: 15px;
  }

.main-nav li{  
    display: flex;
    background-color: rgb(247, 208, 215);
    text-align: center;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 200px;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header img {
    width: 180px;
    display: flex;
    align-items: center;
    margin-left: 43%;
    padding-top: 60px;
}

.banner {
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}

.banner img {
    opacity: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
        
}

.banner h1 {
    color: white;
    font-size: 65px;
    margin-left: 100px;
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 80px;
    width: 100%;
    align-items: center;
}

.main-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
}

.main-footer li {
    font-size: small;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-footer li a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-footer img {
    width: 110px;
    height: 30px;
    margin-left: 8%;
}

.nombres{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;
}

.Porque {
    display: grid;
    grid-template-columns: 500px 700px;
    grid-template-rows: 100%;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(252, 250, 250);
    margin-top: 10px;
    margin-bottom: 10px;
}

.Porque img {
    width: 250px;
    height: 480px;
    margin-left: 50px;
}

.PorqueSoundHub h2 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.PorqueSoundHub p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
}

.Informacion {
    display: grid;
    grid-template-columns: 650px 620px;
    grid-template-rows: 100%;
    width: 100%;
    height: 550px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(0, 0, 0);
}
 
.Info {
    color: white;
    margin-right: 30px;
}

.Info h2 {
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Info p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 60px;
}

.FotoInicio img{
    width: 600px;
    height: 400px;
    margin-bottom: 20px;
    margin-left: 30px;
}

.Ayuda {
    display: grid;
    width: 100%;
    height: 120px;
    text-align: center;
}

.Contactanos h2 {
    font-size: 30px;
    margin-top: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Contactanos p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.Contactanos p a {
    text-decoration: underline;
    color: black;
}









@media only screen and (max-width :768px){
    .nombres{
         margin-left: 0;
         
    } 
    .banner{

        height: 400px;
        width: 800px;
    }
    .banner h1 {
        color: white;
        font-size: 60px;
        margin-left: 100px;
        display: flex;
        width: 50px;
        
    }
    .banner img {
       
        height: 400px;
        width: 800px;}

}