
body{
    background-color:  rgba(247, 210, 216, 0.938);
    margin: auto;
 }

.container {
    display: flex;
    flex-wrap: wrap;
}

.main-header{
    background-color: black;
    align-self: stretch;
    height: 400px;
    width: 100%;
    margin-right: 0px;
}


.main-nav ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap; 
    height: 40px;
    padding: 60px;
    width: 100%;
    padding-left: 15px;
  }

.main-nav li{  
    display: flex;
    background-color: rgb(247, 208, 215);
    text-align: center;
    margin-right: 30px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 160px;
}

.main-nav li a {
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-header img {
    width: 300px;
    display: flex;
    align-items: center;
    margin-left: 40%;
    padding-top: 60px;
}
.banner {
    position: relative;
    text-align: center;
    color: white;
}

.banner img {
    opacity: 90%;
    width: 1800px;
    display: flex;
    justify-content: center;
        
}

.banner h1 {
    color: white;
    font-size: 100px;
    margin-left: 100px;
    display: flex;
    width: 30px;
    flex-wrap: wrap;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
    display: block;
}

.main-footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 80px;
    width: 100%;
    align-items: center;
}

.main-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap; 
}

.main-footer li {
    font-size: small;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.main-footer li a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
}

.main-footer img {
    width: 100px;
    margin-left: 38%;
}