body{
    width: 100%;
    margin: 0;
    background-color: black;
    display: grid;
 }

 .artista {
    display: grid;
    grid-template-columns: 400px 900px;
    grid-template-rows: 100%;
    width: 100%;
    height: 400px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color:rgb(0, 0, 0);
    margin: 0px;
    margin-bottom: 50px;
 }

 .DetalleArtista img {
    width: 300px;
    height: 300px;
    border: solid white 1px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 50%;
 }

 .DetalleArtista h2 {
     color: white;
     font-size: 60px;
     margin: 0px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 }

 .DetalleArtista p {
     color: gray;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: 15px;
 }

 .artista .Seguir {
     color: white;
     font-size: 15px;
     margin-top: 30px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     width: 200px;
     height: 20px;
     border: solid white 0.5px;
    text-align: center;
     padding-top: 10px;
     padding: 10px;

 }

 .UltimoLanzamiento {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    margin-left: 140px;
 }

 .UltimoLanzamiento img {
     width: 200px;
     height: 200px;
 }

 .UltimoLanzamiento h2 {
     font-size: 20px;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     color: white;
     text-align: center;
     width: 200px;
 }

 .UltimoLanzamiento p {
     font-size: 10px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: gray;
     text-align: center;
     width: 200px;
 }

 .Populares h2 {
     margin: 0;
     padding: 0;
     text-align: left;
     padding-top: 10px;
 }

 .Populares p {
     font-size: 20px;
     color: white;
     text-align: left;
     border-bottom: solid rgba(128, 128, 128, 0.562) 0.5px;
     width: 700px;
     padding-bottom: 5px;
 }

 .borde {
     border-top: solid  rgba(128, 128, 128, 0.562) 0.5px;
     padding-top: 10px;
 }

.Populares2 p{
    font-size: 20px;
     color: white;
     text-align: right;
     width: 300px;
     padding-bottom: 5px;
}
 .Populares2 {
     margin-top: 40px;
 }

 .Populares i {
     padding-right: 20px;
 }

 .TodosLosAlbums {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 100%;
    margin-left: 140px;
    margin-top: 40px;
 }

 .TodosLosAlbums img {
     width: 200px;
     height: 200px;
 }

 .TodosLosAlbums h2 {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    width: 200px;
}

.TodosLosAlbums p {
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: gray;
    text-align: center;
    width: 200px;
}

.Albumes .titulo {
    text-align: left;
    padding-bottom: 10px;
    width: 900px;
    border-bottom: solid rgba(128, 128, 128, 0.562) 0.5px;
}

.Albumes2 {
    margin-top: 68px;
}

.Albumes3 {
    margin-top: 68px;
}

.fa-heart {
    padding-right: 50px;
}


.main-footer {
    background-color: black;
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    height: 80px;
    width: 100%;
    align-items: center;
    
}

.main-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    flex-wrap: nowrap;
}

.main-footer li {
    font-size: small;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-footer li a {
    text-decoration: none;
    color: white;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-footer img {
    width: 110px;
    height: 30px;
    margin-left: 8%;

}
.nombres{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;

}
